{% extends 'base.html' %}

{% block title %}
    Accounts Home - All Users
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="orange-text">
    {{ request.user.user_name }}, These users have registered on this site!
    </h3>

    {% if messages %}
        {% for message in messages %}
            <div class="center alert-info {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="user-row">
        {% for each_user in all_users %}
            <div class="profile-container">
                <p class="teal-text">Email : {{ each_user.email }}</p>
                {% if each_user.user_name %}
                <p>
                    Username : {{ each_user.user_name }}
                </p>
                {% endif %}
                {% if each_user.user_bio %}
                <p class="teal-text">
                    Biography ~ {{ each_user.user_bio }}
                </p>
                {% endif %}
            {% if each_user.id in sent_requests %}
                <a href="{% url 'accounts:delete_friend_request' pk=each_user.id %}" class="btn button red">Delete Friend Request</a>
            {% elif each_user.id in received_requests %}
                <a href="{% url 'accounts:accept_friend_request' pk=each_user.id %}" class="btn button green">Accept Friend Request</a>
                <a href="{% url 'accounts:delete_friend_request' pk=each_user.id %}" class="btn button red">Delete Friend Request</a>
            {% else %}
                <a href="{% url 'accounts:add_friend' pk=each_user.id %}" class="btn orange" >Add Friend</a>
            {% endif %}
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}