{% extends 'base.html' %}

{% block title %}
    Friend List
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="orange-text">
    {{ request.user.user_name }}, These users are your friends!
    </h3>

    {% if messages %}
        {% for message in messages %}
            <div class="center alert-info {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="user-row">
        {% for each_user in all_users %}
            <div class="profile-container">
                <p class="teal-text">Email : {{ each_user.email }}</p>
                {% if each_user.user_name %}
                <p>
                    Username : {{ each_user.user_name }}
                </p>
                {% endif %}
                {% if each_user.user_bio %}
                <p class="teal-text">
                    Biography ~ {{ each_user.user_bio }}
                </p>
                {% endif %}
                <a href="{% url 'accounts:remove_friend' pk=each_user.id %}" class="btn button cyan">Remove Friend</a>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}