{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Accounts Home - Login
{% endblock %}

{% block content %}
<h3 class="orange-text center">
    Login
</h3>
{% if messages %}
    {% for message in messages %}
        <div class="center alert-info {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<form action="#" method="post" class="form-container">
  {% csrf_token %}
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Email" id="email" name="email" type="text" class="validate">
      <label for="first_name">Enter Your Email</label>
    </div>
    <div class="input-field col s6">
      <input id="password" type="password" name="password" class="validate">
      <label for="password">Enter Your Password</label>
    </div>
  </div>
  <input type="submit" value="Login" class="button btn green" />
</form>
{% endblock %}