{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Accounts Home - Register
{% endblock %}

{% block content %}
<h3 class="orange-text center">
    Register
</h3>

{% if messages %}
    {% for message in messages %}
        <div class="center alert-info {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<form action="#" method="post" class="form-container">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="input-field col s6">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.label == 'User bio' %}
            {{ field|add_class:"materialize-textarea" }}
        {% else %}
            {{ field|add_class:"" }}
        {% endif %}

        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <input type="submit" value="Submit" class="button btn green">
</form>
{% endblock %}