{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery_min.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<nav>
<div class="nav-wrapper">
  <a href="#" class="brand-logo">Task Management</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">

      {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          <li><a href="{% url 'accounts:register' %}">Register</a></li>
      {% endif %}

  </ul>
</div>
</nav>
{%  block content %}
    <h2>Base file contents</h2>
{% endblock %}
<footer>
    <p class="teal-text center">Copyright@ Task Management Application 2020</p>
</footer>
</body>
</html>