{% extends 'base.html' %}

{% block title %}
    List of Tasks by Category
{% endblock %}

{% block content %}
<h3 class="orange-text center">
    List of Tasks belonging to category {{ category.name }}
</h3>
    {% for each_task in tasks %}
        <div class="card-container">
            <h4 class="grey-text center">{{ each_task.name }}</h4>
            <p>Task Category - {{ each_task.category }}</p>
            <p>Task Priority - {{ each_task.priority }}</p>
            <p>Task Deadline - {{ each_task.deadline_date }}</p>
            <p class="teal-text">
                {{ each_task.description }}
            </p>
            <div class="button-container">
                    <a href="{% url 'accounts:update_task' pk=each_task.pk %}" class="btn button yellow">Update Task</a>
                    <a href="{% url 'accounts:detail_task' pk=each_task.pk %}" class="btn button blue">View Details</a>
                    <a href="{% url 'accounts:delete_task' pk=each_task.pk %}" class="btn button red">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}