{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Create Task
{% endblock %}

{% block content %}
<h2 class="teal-text">
    Create Task
</h2>
<form action="" method="post" class="row" enctype="multipart/form-data">
    <div class="form-container">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="input-field col s6">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

        {{ field }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

    <input type="submit" value="Submit" class="button btn green">
    </div>
</form>


{% endblock %}