{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Create Category
{% endblock %}

{% block content %}
<h3 class="orange-text center">
    Create Category
</h3>

{% if messages %}
    {% for message in messages %}
        <div class="center green-text {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<form action="#" method="post" class="form-container" enctype="multipart/form-data">
{% csrf_token %}
    {{ form.name.label }}
    {{ form.name }}

    {{ form.description.label }}
    {{ form.description|add_class:"materialize-textarea" }}

    {{ form.category_image.label }}
    {{ form.category_image|add_class:"validate" }}
<input type="submit" value="Submit" class="button btn green">
</form>
{% endblock %}