{% extends 'base.html' %}

{% block title %}
    List Category
{% endblock %}

{% block content %}
<h2 class="teal-text center">
    All Categories
</h2>
{% if messages %}
    {% for message in messages %}
        <div class="center green-text {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

    {% if not all_categories %}
    <h3 class="orange-text center">Hey {{ request.user.user_name }}, It seems you haven' added any category!</h3>
    {% endif %}

    {% for each_category in all_categories %}
        <div class="card-container">
        <h2>{{ each_category.name }}</h2>
            <div class="row">
              <div class="col s8">
                  <p class="teal-text para-text">
                      {{ each_category.description }}
                  </p>
              </div>
              <div class="col s4">
                  <img src="{{ each_category.category_image.url }}" alt="Image not available" height="300" width="300">
              </div>
            </div>
            <div class="button-container">
                <a href="{% url 'accounts:update_category' pk=each_category.pk %}" class="btn button yellow">Update Category</a>
                <a href="{% url 'accounts:detail_category' pk=each_category.pk %}" class="btn button blue">View Details</a>
                <a href="{% url 'accounts:delete_category' pk=each_category.pk %}" class="btn button red">Delete</a>
                <a href="{% url 'accounts:category_tasks' pk=each_category.pk %}"class="btn button green">View Tasks</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}