{% extends 'base.html' %}

{% block title %}
    List Category
{% endblock %}

{% block content %}
<h2 class="teal-text">
    List Category
</h2>
{% if messages %}
    {% for message in messages %}
        <div class="center green-text {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

    {% for each_category in all_categories %}
        <div>
        <h2>{{ each_category.name }}</h2>
            <p>
                {{ each_category.description }}
            </p>
            <div class="container">
                <a class="btn button red">Delete</a>
                <a class="btn button yellow">Update Category</a>
                <a class="btn button blue">View Details</a>
                <a class="btn button green">View Tasks</a>
            </div>
            <img src="{{ each_category.category_image.url }}" alt="Image not available" height="400" width="400">
        </div>
    {% endfor %}
{% endblock %}